Run `source activate gl-env` at the command line to activate the correct conda environment BEFORE issuing the  `jupyter notebook` command.

In [2]:
import sys
print 'conda environment is:', sys.executable.rstrip('bin/python'), '(should read: /Users/petermchale/anaconda/envs/gl-env)'

conda environment is: /Users/petermchale/anaconda/envs/gl-env (should read: /Users/petermchale/anaconda/envs/gl-env)

In [3]:
import platform
print 'python version is: ', platform.python_version(), '(should read: 2.7.x)'

python version is:  2.7.11 (should read: 2.7.x)

# Fire up GraphLab Create (a python package)

We always start with this line before using any part of GraphLab Create

In [4]:
import graphlab

In [5]:
import os 
print 'location of graphlab package is: ', os.path.abspath(graphlab.__file__), '\n'
help(graphlab)

location of graphlab package is:  /Users/petermchale/anaconda/envs/gl-env/lib/python2.7/site-packages/graphlab/__init__.pyc

This non-commercial license of GraphLab Create for academic use is assigned to mchalep@uci.edu and will expire on June 14, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1502129201.log

Help on package graphlab:

NAME
    graphlab

FILE
    /Users/petermchale/anaconda/envs/gl-env/lib/python2.7/site-packages/graphlab/__init__.py

DESCRIPTION
    @package graphlab
    ...
    GraphLab Create is a machine learning platform that enables data scientists and
    app developers to easily create intelligent applications at scale. Building an
    intelligent, predictive application involves iterating over multiple steps:
    cleaning the data, developing features, training a model, and creating and
    maintaining a predictive service. GraphLab Create does all of this in one
    platform. It is easy to use, fast, and powerful.

    Concise descriptions of the data structures and their methods are contained in
    the API documentation, along with a small number of simple examples.

    For more detailed descriptions and examples, please see the:
    - `User Guide <https://turi.com/learn/userguide/>`_,
    - `API Translator <https://turi.com/learn/translator/>`_,
    - `How-Tos <https://turi.com/learn/how-to/>`_
    - `Gallery <https://turi.com/learn/gallery/>`_.

PACKAGE CONTENTS
    _beta (package)
    _gl_pickle
    _json
    _minipsutil
    _scripts (package)
    aggregate
    canvas (package)
    connect (package)
    cython (package)
    data_structures (package)
    dependencies
    deploy (package)
    deps (package)
    distributed (package)
    extensions
    generic
    libhdfs
    libmxnet
    meta (package)
    mxnet (package)
    numpy
    numpy_loader
    product_key
    sys_util
    timeseries (package)
    toolkits (package)
    util (package)
    version_check
    version_info
    visualization (package)

SUBMODULES
    _internal
    _mt
    anomaly_detection
    autotagger
    aws
    bayesian_changepoints
    boosted_trees_classifier
    boosted_trees_regression
    churn_predictor
    classifier
    clustering
    comparison
    connected_components
    cross_validation
    cy_pylambda_workers
    data_matching
    dbscan
    decision_tree_classifier
    decision_tree_regression
    deduplication
    deeplearning
    degree_counting
    distances
    evaluation
    factorization_recommender
    feature_engineering
    frequent_pattern_mining
    glconnect
    graph_analytics
    graph_coloring
    grid_search
    image_analysis
    item_content_recommender
    item_similarity_recommender
    kcore
    kmeans
    label_propagation
    lead_scoring
    linear_regression
    local_outlier_factor
    logistic_classifier
    manual_search
    model_parameter_search
    moving_zscore
    nearest_neighbor_autotagger
    nearest_neighbor_classifier
    nearest_neighbor_deduplication
    nearest_neighbors
    neuralnet_classifier
    pagerank
    pattern_mining
    popularity_recommender
    product_sentiment
    random_forest_classifier
    random_forest_regression
    random_search
    ranking_factorization_recommender
    recommender
    record_linker
    regression
    sentiment_analysis
    shortest_path
    similarity_search
    svm_classifier
    text_analytics
    topic_model
    triangle_counting

CLASSES
    __builtin__.object
        DeprecationHelper

    class DeprecationHelper(__builtin__.object)
     |  Methods defined here:
     |
     |  __call__(self, *args, **kwargs)
     |
     |  __getattr__(self, attr)
     |
     |  __init__(self, new_target)
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

DATA
    Graph = <graphlab.DeprecationHelper object>
    __VERSION__ = '2.1'
    __warningregistry__ = {('Graph has been renamed to SGraph. The Graph c...
    build_number = '1118'
    extensions = <graphlab._extensions_wrapper object>
    version = '2.1'

# Load a tabular data set

In [16]:
sf = graphlab.SFrame('people-example.csv')

Finished parsing file /Users/petermchale/Dropbox/Data Science:Data Engineering preparation/Data Science/ML/online courses/Guestrin Fox (SWylie)/week 1/people-example.csv

Parsing completed. Parsed 7 lines in 0.011545 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/petermchale/Dropbox/Data Science:Data Engineering preparation/Data Science/ML/online courses/Guestrin Fox (SWylie)/week 1/people-example.csv

Parsing completed. Parsed 7 lines in 0.019777 secs.

# SFrame basics

In [17]:
sf #we can view first few lines of table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [19]:
sf.head()

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [18]:
sf.tail()  # view end of the table

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

# GraphLab Canvas

In [21]:
# .show() visualizes any data structure in GraphLab Create
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:53506/index.html
Opening Canvas in default web browser.

In [22]:
# If you want Canvas visualization to show up on this notebook, 
# rather than popping up a new window, add this line:
graphlab.canvas.set_target('ipynb')

In [23]:
sf['age'].show(view='Categorical')

# Inspect columns of dataset

In [24]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [13]:
sf['age']

dtype: int
Rows: 7
[24, 23, 22, 23, 23, 22, 25]

Some simple columnar operations

In [25]:
sf['age'].mean()

23.142857142857146

In [26]:
sf['age'].max()

25

# Create new columns in our SFrame

In [16]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [27]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [28]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   |      USA      |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]

In [29]:
sf['age'] * sf['age']

dtype: int
Rows: 7
[576, 529, 484, 529, 529, 484, 625]

# Use the `apply` function to do an advanced transformation of our data

In [30]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [31]:
sf['Country'].show()

In [32]:
def transform_country(country): 
    if country == 'USA': 
        return 'United States'
    else:
        return country

In [33]:
transform_country('Brazil')

'Brazil'

In [34]:
transform_country('Brasil')

'Brasil'

In [35]:
transform_country('USA')

'United States'

In [36]:
sf['Country'].apply(transform_country)

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'United States', 'Poland', 'United States', 'Switzerland']

In [37]:
sf['Country'] = sf['Country'].apply(transform_country)

In [38]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+
| First Name | Last Name |    Country    | age |   Full Name    |
+------------+-----------+---------------+-----+----------------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |
+------------+-----------+---------------+-----+----------------+
[7 rows x 5 columns]